###############################################################################
# window rules
###############################################################################

# pin teams, slack, and zotero to specific workspaces
assign [class="^Slack$"]  $ws-11
assign [class="^Zotero$"] $ws-12

# fullscreen windows prevent "idling"
for_window [app_id=".*"] inhibit_idle fullscreen

# scratchpads
for_window [app_id="^pad-F[0-9]+$"] move scratchpad, scratchpad show
for_window [app_id="^pad-F[0-9]+$"] floating enable, resize set 1000 600

# floating windows
for_window [app_id="^pavucontrol$"]          floating enable, resize set 1000 600
for_window [app_id="^nm-connection-editor$"] floating enable
for_window [app_id="^wdisplays$"]            floating enable
for_window [app_id="^blueberry\.py$"]        floating enable
for_window [app_id="^gpick$"]                floating enable
for_window [app_id="^wev$"]                  floating enable
for_window [app_id="^thunar$"]               floating enable, resize set 1000 800
for_window [class="^Matplotlib$"]            floating enable, resize set 1000 800
