/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
     color: white;
  }
  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
     color: white;
  }
  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  color: white;
}

/* The whole bar */
#waybar {
  background: #323232;
  font-family: DroidSansMono Nerd Font Mono;
  font-size: 15px;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
  background-color: #323232;
}

#battery.critical {
  color: red;
  background-color: #323232;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  /* No styles */
}

#cpu {
  /* No styles */
}

#cpu.warning {
  color: orange;
  background-color: #323232;
}

#cpu.critical {
  color: red;
  background-color: #323232;
}

#memory.warning {
  color: orange;
  background-color: #323232;
}

#memory.critical {
  color: red;
  background-color: #323232;
}

#mode {
  background: #64727D;
  border-top: 2px solid white;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* No styles */
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#tray {
  /* No styles */
}

#window {
  /* No styles */
}

#workspaces button {
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

#workspaces button.focused {
  border-color: #4c7899;
  color: white;
  background-color: #285577;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: white;
  color: #c9545d;
}

#workspaces button:hover {
  background: inherit;
  border: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}