alias sudo='sudo '
alias pm='yay'
alias ls='exa'
alias -g NN='2>/dev/null'

alias hx='helix'
alias -g py='python'
alias -g py2='python2'
alias -g py3='python3'

alias xclip='xclip -selection c'
alias fl='sudo fdisk -l'
alias l='sudo lid-switch'
alias v='sudo vpn'
alias setwin='sudo setwin'

alias fire='firefox'

# watch printing queue
alias lpw='watch -n 0.5 lpq'

# matlab stuff
export TF_CPP_MIN_LOG_LEVEL=2
export QT_LOGGING_RULES="qt5ct.debug=false"
export MATLAB_LOG_DIR=/home/perlinm/Workspace/MATLAB/logs

# python stuff
alias ipy="ipython --InteractiveShellApp.extensions 'autoreload' --InteractiveShellApp.exec_lines '%autoreload 2'"
alias jupyter='$(pyenv which jupyter)'
pyenv-init () {
  if ! [[ "$(pyenv root)" =~ $PATH ]]; then
    eval "$(pyenv init --path)"
    eval "$(pyenv virtualenv-init -)"
  fi
}
alias format="python -m black --line-length=100 --color"
alias flake="python -m flake8 --max-line-length 100"

# super.tech stuff
alias pygrep="$HOME/super.tech/SuperstaQ/dev_tools/pygrep.sh"
ss () {
  pyenv-init
  alias pytest='python -m pytest'
  cd ~/super.tech/SuperstaQ
}


# telehealth stuff
tt () {
  pyenv-init
  export FLASK_APP=app
  export FLASK_ENV=development
  cd ~/telehealth
  if [ "$(systemctl is-active postgresql.service)" != "active" ]; then
    echo "systemctl start postgresql.service"
    sudo systemctl start postgresql.service
  fi
}
