alias sudo='sudo '
alias pm='pacmatic'
alias ls='exa'
alias -g NN='2>/dev/null'

alias -g py='python'
alias -g py2='python2'
alias -g py3='python3'
alias wi='wicd-curses'

alias xclip='xclip -selection c'
alias l='sudo lid-switch'
alias fl='sudo fdisk -l'
alias startwin='sudo startwin'

alias tiem='time'
alias pdf='qpdfview'

alias lpw='watch lpq'
alias v='sudo vpn'

alias fire='firefox'
